@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Muli", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}